body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #36c50e;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#form-container {
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #218838;
}

#product-list {
    margin-top: 20px;
}

#product-list ul {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-list button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#product-list button:hover {
    background-color: #0056b3;
}

#product-detail {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product-detail button {
    background-color: #ffc107;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#product-detail button:hover {
    background-color: #e0a800;
}

/* Estilos gerais para os botões */
.btn {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para os botões de excluir e editar */
  .editar-btn, .excluir-btn {
    background-color: #28a745; /* Verde para editar */
    border: none;
  }
  
  .editar-btn:hover, .excluir-btn:hover {
    background-color: #218838;
  }
  
  .excluir-btn {
    background-color: #dc3545; /* Vermelho para excluir */
  }
  
  .excluir-btn:hover {
    background-color: #c82333;
  }
  